.cont{
    width: 530px;
    /* margin-top: 6%; */
  }

.loginpg{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 90vh;
}

.btn1{
    background:#0c0423;
    color: white;
    transition-duration: 0.3s;
}

.btn:hover{
    background-color:white;
    color:#0c0423;
    transition-duration: 0.3s;
    
}


.forgot{
    text-decoration: none;  
    color:#6e767d;
    cursor:pointer;
  }
  .forgot-signup{
    color:#6e767d;
  }

  .hover-link:hover{
    color:#ffffff;
  }

  .log-style{
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px);
    border-color: rgba(255, 255, 255, 0.1);
    border-radius:10px;
  }

  .input-style{
    background:rgba(255,255,255,0.1);
    border-color:rgba(255,255,255,0.1);
    color:white;
    outline: none;
  }

  .input-style:focus{
    background-color:rgba(255,255,255,0.1) ;
    outline: none !important;
    color:white;
    border-color:rgba(255, 255, 255, 0.494);
    box-shadow: none;
  }
  .input-style:active{
    background-color:rgba(255,255,255,0.1) ;
    outline: none !important;
    color:white;
    border-color:rgba(255, 255, 255, 0.494);
    box-shadow: none;
  }

  input:internal-autofill-selected {
    /* appearance: menulist-button; */
    background-image: none !important;
    background-color: rgba(255,255,255,0.1) !important;
    /* color: fieldtext !important; */
}

.resePasswordModal{
  position: absolute;
  margin-top: -25vh;
}
@media only screen and (max-width:768px){
  .cont{
    width: 320px;
    margin-top: -30%;
  }

}
