.forget{
    border-radius: 10px;
    margin-top: 100px;
}

.resetPassContainer{
    width: 40%;
    background-color: rgba(255,255,255,0.1);
    border: 3px solid rgba(255,255,255,0.5);
}

.btn2{
    border: none;
}
.resetpass{
    font-size: 30px;
    font-style: bold;
}
@media (max-width: 768px) {
    .resetPassContainer{
        width: 80%;
    }

    .resetpass{
        font-size: 20px;
        font-style: bold;
    }
}