.navb{
    background-color: hsl(231, 34%, 12%);
    z-index: 3 !important;
}

.img-style{
    max-width: 95px;
}


@media only screen and (max-width:768px){
    .navbar1{
        width: 100vw;
    }
    .navitem{
        width: 100px !important;
    }
  } 